<div class="container">
  <div class="content">
    <h1>Polityka Prywatności</h1>

    <h2>I. Informacje ogólne</h2>
    <p>Administratorem Twoich danych osobowych jest <strong>Michał Rydzanicz</strong>, który dokłada wszelkich starań,
      aby zapewnić najwyższy poziom ochrony Twoich danych osobowych. Przetwarzanie Twoich danych odbywa się zgodnie z
      obowiązującymi przepisami prawa, w tym z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27
      kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
      swobodnego przepływu takich danych (RODO), a także innymi obowiązującymi regulacjami krajowymi dotyczącymi ochrony
      danych.
      Dbamy o poufność i bezpieczeństwo Twoich danych, stosując odpowiednie środki techniczne i organizacyjne mające na
      celu ich ochronę przed nieautoryzowanym dostępem, utratą, zmianą czy nieuprawnionym ujawnieniem. Twoje dane
      osobowe są przetwarzane wyłącznie w celu realizacji usług, których dotyczą, takich jak obsługa zamówień, kontakt w
      sprawie realizacji umowy, a także wystawianie dokumentów księgowych i podatkowych.

      Masz prawo do dostępu do swoich danych, ich sprostowania, usunięcia lub ograniczenia przetwarzania, a także prawo
      do wniesienia sprzeciwu wobec przetwarzania danych i przenoszenia ich do innego administratora. W przypadku
      jakichkolwiek pytań lub wątpliwości dotyczących ochrony Twoich danych osobowych możesz skontaktować się z nami pod
      adresem e-mail: <strong> rydzanicz.mm&#64;gmail.com</strong>.

      Szanujemy Twoją prywatność i zobowiązujemy się do przejrzystego informowania o tym, w jaki sposób wykorzystujemy
      Twoje dane oraz jakie przysługują Ci prawa w zakresie ich ochrony.</p>

    <h2>II. Jakie dane zbieramy?</h2>
    <p>Aby zapewnić prawidłowe funkcjonowanie naszego serwisu, realizację zamówień oraz obsługę klientów, zbieramy i
      przetwarzamy następujące dane osobowe:</p>
    <ul>
      <li><strong>Imię i nazwisko</strong> – potrzebne do identyfikacji użytkownika oraz realizacji zamówień.</li>
      <li><strong>Adres zamieszkania lub dostawy</strong> – wykorzystywany w celu wysyłki zamówionych produktów lub
        przesyłania dokumentów księgowych.
      </li>
      <li><strong>Numer telefonu</strong> – umożliwia szybki kontakt w sprawie realizacji zamówienia, dostawy oraz
        ewentualnych reklamacji.
      </li>
      <li><strong>Adres e-mail</strong> – wykorzystywany do przesyłania potwierdzeń zamówienia, faktur, informacji o
        statusie realizacji oraz ewentualnych wiadomości marketingowych (za zgodą użytkownika).
      </li>
      <li><strong>Dane do faktury</strong> (NIP, adres firmy, nazwa firmy) – wymagane w przypadku wystawiania faktur dla
        firm i przedsiębiorców.
      </li>
      <li><strong>Historia zamówień i płatności</strong> – przechowywana w celu zapewnienia możliwości wglądu w historię
        zakupów, obsługi zwrotów oraz analizy preferencji klientów.
      </li>
    </ul>
    <p>Podanie powyższych danych jest dobrowolne, jednak w niektórych przypadkach niezbędne do realizacji usług, takich
      jak przetwarzanie zamówienia, wystawianie faktur czy kontakt w sprawach związanych z obsługą klienta.</p>
    <p>Dbamy o to, aby Twoje dane były przetwarzane zgodnie z obowiązującymi przepisami prawa oraz były przechowywane
      wyłącznie przez okres niezbędny do realizacji wyżej wymienionych celów.</p>

    <h2>III. Cele przetwarzania danych</h2>
    <p>Twoje dane osobowe są przetwarzane w celu zapewnienia najwyższej jakości usług oraz spełnienia obowiązków
      prawnych. Każde przetwarzanie danych odbywa się zgodnie z obowiązującymi przepisami prawa i w sposób zapewniający
      bezpieczeństwo Twoich danych. Poniżej przedstawiamy szczegółowe cele ich przetwarzania:</p>
    <ul>
      <li><strong>Realizacji zamówień i dostawy produktów</strong> – przetwarzamy Twoje dane, aby umożliwić skuteczne
        przyjęcie zamówienia, przygotowanie produktów oraz ich dostarczenie pod wskazany adres.
      </li>
      <li><strong>Wystawienia faktur i spełnienia obowiązków księgowych</strong> – Twoje dane mogą być przetwarzane w
        celu wystawienia dokumentów księgowych (faktur, paragonów), prowadzenia ewidencji sprzedaży oraz wypełnienia
        obowiązków wynikających z przepisów podatkowych.
      </li>
      <li><strong>Kontaktowania się w sprawie realizacji zamówienia</strong> – możemy używać Twoich danych, aby
        informować Cię o statusie zamówienia, przewidywanym terminie dostawy lub ewentualnych problemach z realizacją
        transakcji.
      </li>
      <li><strong>Obsługi reklamacji i zwrotów</strong> – w przypadku zwrotu towaru lub reklamacji Twoje dane są
        wykorzystywane do ich obsługi, wymiany produktów lub zwrotu środków.
      </li>
      <li><strong>Prowadzenia konta klienta (jeśli dotyczy)</strong> – jeżeli zdecydujesz się na założenie konta w
        naszym sklepie, Twoje dane będą przetwarzane w celu umożliwienia dostępu do historii zamówień, ułatwienia
        przyszłych zakupów oraz zarządzania danymi użytkownika.
      </li>
      <li><strong>Marketingu bezpośredniego własnych produktów i usług (tylko za Twoją zgodą)</strong> – jeśli wyrazisz
        zgodę, możemy przesyłać Ci informacje o nowościach, promocjach i ofertach specjalnych dotyczących naszych
        produktów i usług. Masz możliwość wycofania zgody w każdej chwili.
      </li>
      <li><strong>Analizy ruchu na stronie internetowej i personalizacji treści</strong> – możemy analizować sposób, w
        jaki korzystasz z naszej strony, aby lepiej dostosować jej zawartość do Twoich preferencji oraz usprawnić
        działanie serwisu, np. poprzez wyświetlanie spersonalizowanych ofert.
      </li>
    </ul>
    <p>Twoje dane są przetwarzane zgodnie z zasadą minimalizacji – oznacza to, że zbieramy i przechowujemy tylko te
      informacje, które są niezbędne do realizacji powyższych celów. Nie wykorzystujemy ich w sposób niezgodny z prawem
      ani nie udostępniamy podmiotom trzecim bez podstawy prawnej lub Twojej wyraźnej zgody.</p>

    <h2>IV. Podstawa prawna przetwarzania</h2>
    <p>Twoje dane osobowe przetwarzamy zgodnie z przepisami prawa, w szczególności z Rozporządzeniem Parlamentu
      Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z
      przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych (RODO). Podstawy prawne
      przetwarzania Twoich danych różnią się w zależności od celu, w jakim są wykorzystywane:</p>
    <ul>
      <li><strong>Art. 6 ust. 1 lit. b RODO</strong> – przetwarzanie niezbędne do wykonania umowy lub podjęcia działań
        przed jej zawarciem <p>Przetwarzamy Twoje dane osobowe w celu realizacji zamówienia, obsługi płatności,
          dostarczenia towaru oraz świadczenia usług, które zamówiłeś/aś. Obejmuje to również kontaktowanie się w
          sprawie statusu zamówienia i ewentualnych zmian.</p></li>
      <li><strong>Art. 6 ust. 1 lit. c RODO</strong> – przetwarzanie niezbędne do wypełnienia obowiązku prawnego <p>
        Niektóre dane muszą być przetwarzane ze względu na obowiązujące przepisy prawa, w szczególności dotyczące
        rachunkowości i podatków. Na tej podstawie przechowujemy dokumenty księgowe, w tym faktury, które mogą zawierać
        Twoje dane.</p></li>
      <li><strong>Art. 6 ust. 1 lit. f RODO</strong> – przetwarzanie na podstawie prawnie uzasadnionego interesu
        Administratora <p>Niektóre działania, takie jak analiza ruchu na stronie internetowej, personalizacja treści czy
          marketing bezpośredni naszych produktów i usług, opierają się na naszym uzasadnionym interesie. Obejmuje to
          również zapobieganie nadużyciom, monitorowanie jakości obsługi oraz prowadzenie statystyk sprzedaży.</p></li>
      <li><strong>Art. 6 ust. 1 lit. a RODO</strong> – przetwarzanie na podstawie Twojej zgody <p>Jeżeli zapiszesz się
        na nasz newsletter lub wyrazisz zgodę na otrzymywanie treści marketingowych, Twoje dane będą przetwarzane na
        podstawie udzielonej zgody. Masz prawo w każdej chwili wycofać tę zgodę, co nie wpłynie na zgodność z prawem
        przetwarzania dokonanego przed jej cofnięciem.</p></li>
    </ul>
    <p>Przestrzegamy zasady minimalizacji danych, co oznacza, że przetwarzamy tylko te informacje, które są niezbędne do
      realizacji określonych celów. W przypadku, gdy Twoje dane będą przetwarzane na podstawie zgody, masz pełne prawo
      do jej wycofania w dowolnym momencie.</p>

    <h2>V. Komu przekazujemy Twoje dane?</h2>
    <p>W celu prawidłowego funkcjonowania naszego sklepu oraz zapewnienia sprawnej realizacji zamówień i usług, Twoje
      dane osobowe mogą być przekazywane wyłącznie podmiotom, które pomagają nam w realizacji naszych działań.
      Współpracujemy wyłącznie z zaufanymi partnerami, którzy gwarantują odpowiedni poziom ochrony Twoich danych i
      przestrzegają obowiązujących przepisów o ochronie danych osobowych.</p>
    <p>Twoje dane mogą być przekazane następującym podmiotom:</p>
    <ul>
      <li><strong>Firmom kurierskim i pocztowym</strong> – w celu dostarczenia zamówienia <p>Współpracujemy z firmami
        kurierskimi oraz operatorami pocztowymi, którzy otrzymują od nas niezbędne dane, takie jak imię i nazwisko,
        adres dostawy, numer telefonu oraz – w przypadku przesyłek pobraniowych – informacje dotyczące płatności. Dane
        te są przekazywane wyłącznie w zakresie koniecznym do realizacji dostawy.</p></li>
      <li><strong>Biuru rachunkowemu</strong> – w celu prowadzenia księgowości <p>Zgodnie z obowiązującymi przepisami
        prawa mamy obowiązek prowadzenia księgowości oraz archiwizacji dokumentów księgowych. W związku z tym Twoje dane
        mogą być przekazywane zewnętrznemu biuru rachunkowemu, które świadczy dla nas usługi księgowe i podatkowe.</p>
      </li>
      <li><strong>Dostawcom usług płatniczych</strong> – w celu realizacji płatności <p>W przypadku dokonywania
        płatności online Twoje dane mogą być przekazane operatorom płatności elektronicznych, takim jak banki lub firmy
        obsługujące transakcje internetowe. Podmioty te przetwarzają dane niezbędne do autoryzacji i realizacji
        transakcji płatniczej, np. numer zamówienia, kwotę oraz dane identyfikacyjne płatnika.</p></li>
      <li><strong>Podmiotom świadczącym usługi IT</strong> – w celu utrzymania strony i serwerów <p>Współpracujemy z
        firmami zajmującymi się hostingiem, administracją serwerów oraz utrzymaniem infrastruktury IT. Podmioty te mogą
        mieć dostęp do Twoich danych w zakresie niezbędnym do zapewnienia bezpieczeństwa i prawidłowego działania naszej
        strony internetowej.</p></li>
    </ul>
    <p>Zapewniamy, że wszystkie podmioty, którym powierzamy Twoje dane, działają zgodnie z obowiązującymi przepisami
      prawa oraz zawartymi umowami, gwarantując odpowiedni poziom ochrony danych osobowych.</p>
    <p>Twoje dane nie są przekazywane ani sprzedawane podmiotom trzecim w celach marketingowych. Nie przekazujemy ich
      również do państw spoza Europejskiego Obszaru Gospodarczego (EOG) bez odpowiedniego poziomu zabezpieczeń i
      zgodności z regulacjami RODO.</p>

    <h2>VI. Okres przechowywania danych</h2>
    <p>Twoje dane osobowe będą przechowywane przez okres niezbędny do realizacji celów, dla których zostały zebrane, a
      następnie przez czas wymagany przepisami prawa lub do momentu wycofania przez Ciebie zgody na ich przetwarzanie.
      Okresy przechowywania różnią się w zależności od rodzaju danych i celu ich przetwarzania:</p>
    <ul>
      <li><strong>Przez czas realizacji zamówienia oraz obsługi ewentualnych reklamacji</strong>
        <p>Twoje dane są przechowywane przez okres niezbędny do realizacji zamówienia, dostawy oraz obsługi ewentualnych
          reklamacji i zwrotów. Po tym czasie mogą być archiwizowane w celach dowodowych na potrzeby roszczeń
          cywilnoprawnych.</p></li>
      <li><strong>Przez okres wynikający z przepisów prawa podatkowego</strong> (5 lat dla dokumentów księgowych) <p>
        Zgodnie z obowiązującymi przepisami rachunkowymi i podatkowymi jesteśmy zobowiązani do przechowywania
        dokumentacji księgowej, w tym faktur zawierających Twoje dane, przez okres 5 lat, licząc od końca roku
        podatkowego, w którym nastąpiła transakcja.</p></li>
      <li><strong>Do czasu wycofania zgody na przetwarzanie danych</strong>
        <p>Jeżeli przetwarzanie Twoich danych opiera się na zgodzie (np. w celach marketingowych, wysyłki newslettera),
          będą one przechowywane do momentu wycofania przez Ciebie tej zgody. Możesz w każdej chwili cofnąć swoją zgodę,
          a dane zostaną usunięte lub zanonimizowane, o ile nie ma innej podstawy prawnej do ich dalszego
          przechowywania.</p></li>
    </ul>
    <p>Po upływie powyższych okresów Twoje dane są trwale usuwane lub anonimizowane, co oznacza, że nie będą mogły być
      przypisane do konkretnej osoby. W szczególnych przypadkach możemy przechowywać dane dłużej, jeśli będzie to
      wymagane do ustalenia, dochodzenia lub obrony przed roszczeniami prawnymi.</p>

    <h2>VII. Twoje prawa</h2>
    <p>Zgodnie z Rozporządzeniem o Ochronie Danych Osobowych (RODO) przysługują Ci określone prawa dotyczące
      przetwarzania Twoich danych osobowych. W każdej chwili możesz skorzystać z poniższych uprawnień, kontaktując się z
      nami pod podanym adresem e-mail lub innym kanałem komunikacji.</p>
    <p>Masz prawo do:</p>
    <ul>
      <li><strong>Dostępu do swoich danych oraz otrzymania ich kopii</strong>
        <p>Masz prawo do uzyskania informacji, jakie dane o Tobie przechowujemy, w jaki sposób są przetwarzane oraz do
          otrzymania ich kopii.</p></li>
      <li><strong>Sprostowania (poprawienia) swoich danych</strong>
        <p>Jeśli Twoje dane są nieprawidłowe, nieaktualne lub niekompletne, masz prawo do ich poprawienia lub
          uzupełnienia.</p></li>
      <li><strong>Usunięcia danych („prawo do bycia zapomnianym”)</strong>
        <p>W niektórych przypadkach masz prawo zażądać usunięcia swoich danych, jeśli nie są już one potrzebne do celów,
          dla których zostały zebrane, lub jeśli przetwarzanie odbywało się na podstawie Twojej zgody, którą
          cofnąłeś(-aś). Nie możemy jednak usunąć danych, które musimy przechowywać zgodnie z przepisami prawa (np.
          dokumentów księgowych).</p></li>
      <li><strong>Ograniczenia przetwarzania danych</strong>
        <p>Możesz zażądać ograniczenia przetwarzania Twoich danych w sytuacjach, gdy np. kwestionujesz ich poprawność
          lub sprzeciwiasz się ich przetwarzaniu.</p></li>
      <li><strong>Przenoszenia danych</strong>
        <p>Masz prawo otrzymać swoje dane w ustrukturyzowanym formacie (np. XML, CSV) oraz, jeśli jest to technicznie
          możliwe, przesłać je do innego administratora.</p></li>
      <li><strong>Wniesienia sprzeciwu wobec przetwarzania danych</strong>
        <p>Jeśli Twoje dane są przetwarzane na podstawie naszego prawnie uzasadnionego interesu (np. w celach
          marketingowych), masz prawo wnieść sprzeciw wobec takiego przetwarzania.</p></li>
      <li><strong>Wycofania zgody na przetwarzanie danych</strong>
        <p>Jeżeli podstawą przetwarzania Twoich danych jest zgoda (np. zgoda na otrzymywanie newslettera), możesz w
          każdej chwili ją wycofać, co nie wpłynie na legalność wcześniejszego przetwarzania.</p></li>
      <li><strong>Złożenia skargi do Prezesa Urzędu Ochrony Danych Osobowych (UODO)</strong>
        <p>Jeżeli uważasz, że przetwarzanie Twoich danych narusza przepisy prawa, masz prawo złożyć skargę do Prezesa
          Urzędu Ochrony Danych Osobowych (UODO), który jest organem nadzorczym ds. ochrony danych osobowych w
          Polsce.</p></li>
    </ul>
    <p>Aby skorzystać ze swoich praw, skontaktuj się z nami pod adresem e-mail: <strong>[Twój e-mail
      kontaktowy]</strong> lub korespondencyjnie pod adresem: <strong>[Twój adres firmy]</strong>. Każde zgłoszenie
      dotyczące Twoich danych zostanie rozpatrzone niezwłocznie, najpóźniej w terminie 30 dni od jego otrzymania.</p>

    <h2>VIII. Pliki cookies</h2>
    <p>Nasza strona internetowa wykorzystuje pliki cookies oraz podobne technologie w celu zapewnienia jej prawidłowego
      działania, analizy ruchu oraz personalizacji treści. Pliki cookies to niewielkie pliki tekstowe zapisywane na
      Twoim urządzeniu (komputerze, tablecie, smartfonie) podczas korzystania z naszej strony internetowej.</p>
    <h3>Rodzaje wykorzystywanych plików cookies:</h3>
    <ul>
      <li><strong>Niezbędne pliki cookies</strong> – zapewniają prawidłowe działanie strony, np. umożliwiają logowanie
        się i realizację zamówień.
      </li>
      <li><strong>Analityczne pliki cookies</strong> – pozwalają nam analizować ruch na stronie, dzięki czemu możemy
        ulepszać jej działanie i dostosowywać ofertę do użytkowników.
      </li>
      <li><strong>Funkcjonalne pliki cookies</strong> – umożliwiają zapamiętanie Twoich ustawień i preferencji (np.
        języka, układu strony).
      </li>
      <li><strong>Marketingowe pliki cookies</strong> – mogą być używane do wyświetlania reklam dostosowanych do Twoich
        zainteresowań.
      </li>
    </ul>
    <h3>Zarządzanie plikami cookies:</h3>
    <p>Podczas pierwszej wizyty na naszej stronie możesz zaakceptować wszystkie pliki cookies lub dostosować ich
      ustawienia zgodnie ze swoimi preferencjami. W każdej chwili masz możliwość zmiany ustawień cookies w swojej
      przeglądarce internetowej, co może wpłynąć na funkcjonowanie niektórych elementów strony.</p>
    <p>Aby dowiedzieć się więcej na temat zarządzania plikami cookies, skorzystaj z ustawień swojej przeglądarki:</p>
    <ul>
      <li><a href="https://support.google.com/chrome/answer/95647?hl=pl" target="_blank">Google Chrome</a></li>
      <li><a href="https://support.mozilla.org/pl/kb/ciasteczka" target="_blank">Mozilla Firefox</a></li>
      <li><a href="https://support.microsoft.com/pl-pl/microsoft-edge" target="_blank">Microsoft Edge</a></li>
      <li><a href="https://support.apple.com/pl-pl/HT201265" target="_blank">Safari</a></li>
    </ul>
    <h2>IX. Zmiany w polityce prywatności</h2>
    <p>Administrator zastrzega sobie prawo do wprowadzania zmian w niniejszej polityce prywatności w celu dostosowania
      jej do zmieniających się przepisów prawa lub udoskonalenia stosowanych procedur ochrony danych.</p>
    <h3>O wszelkich zmianach będziemy informować:</h3>
    <ul>
      <li>Poprzez zamieszczenie nowej wersji polityki prywatności na naszej stronie internetowej.</li>
      <li>W przypadku istotnych zmian – poprzez wysłanie informacji na Twój adres e-mail (jeśli wyraziłeś zgodę na
        kontakt).
      </li>
    </ul>
    <p>Zachęcamy do regularnego przeglądania polityki prywatności, aby być na bieżąco z zasadami przetwarzania Twoich
      danych osobowych.</p>
  </div>
</div>
