<div class="container">
  <div class="content">
    <h2 *ngIf="cartItems.length > 0">Twój Koszyk</h2>
    <div class="cart">
      <div class="empty-cart" *ngIf="cartItems.length === 0">
        <i class="material-icons">shopping_cart</i>
        <p>Twój koszyk jest pusty!</p>
        <p>Dodaj produkty do koszyka, aby je tutaj zobaczyć.</p>
      </div>
      <div class="cart-items" *ngIf="cartItems.length > 0">
        <ul>
          <li *ngFor="let item of cartItems; let i = index">
            <div class="cart-item">
              <span>{{ item.name }}</span>
              <span>{{ formatCurrency(item.price) }}</span>
              <div class="quantity-controls">
                <button (click)="decreaseOne(item)">-</button>
                <span>{{ item.quantity }}</span>
                <button (click)="addOne(item)">+</button>
              </div>
              <button (click)="removeItem(i)" class="remove-button">Usuń</button>
            </div>
          </li>
        </ul>
      </div>
      <div class="cart-summary" *ngIf="cartItems.length > 0">
        <p><strong>Łącznie: {{ cartItemCount }} przedmiotów</strong></p>
        <p><strong>Łączna Kwota: {{ formatCurrency(getTotalPrice()) }}</strong></p>
        <div class="note-container">
          <label for="noteInput" class="note-label">
            Notatka: (Proszę o podanie koloru.<br>Nie podanie oznacza zgodę na wybór losowy)
          </label>
          <textarea id="noteInput"
                    [(ngModel)]="note"
                    class="note-input"
                    placeholder="Proszę o podanie koloru."
                    minlength="1"
                    maxlength="255"
                    required
                    #noteInput="ngModel"></textarea>
          <div *ngIf="noteInput.invalid && noteInput.touched" class="validation-errors">
            <p class="error" *ngIf="noteInput.errors?.['required']">
              ❌ Notatka jest wymagana.
            </p>
            <p class="error" *ngIf="noteInput.errors?.['maxlength']">
              ❌ Notatka nie może mieć więcej niż 255 znaków.
            </p>
          </div>
        </div>
        <button class="clear-cart-button" (click)="clearCart()" title="Wyczyść koszyk">
          <i class="material-icons">delete</i>
        </button>
        <button class="checkout-button" (click)="navigateToSummary()">Przejdź do płatności</button>
      </div>
    </div>
  </div>
</div>
