.product {
  border: none;
  border-radius: 10px;
  padding: 16px;
  text-align: left;
  width: 87%;
  height: 30%;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 5%;
  background-color: #252525;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s, background-color 0.3s;
}

.product:hover {
  background-color: #1f1f1f;
  transform: scale(1.02);
}

.product-image {
  max-width: 15%;
  height: auto;
  margin: 0;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s;
}

.product-image:hover {
  transform: scale(1.1);
}

.product-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.product-price {
  font-weight: bold;
  color: #28a745;
  transition: color 0.3s;
}

.product-price:hover {
  color: #3ae65c;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.product-list {
  padding: 16px;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
